<div class="conversations-page">
  <div class="ui segment">
      <h3>Your Conversations</h3>
      <hr>
      <div class="conversation-list ui list">
          <div class="item"> <!-- GUY MAY HAVE TO GET RID OF THIS - CONFLICT? -->
          <% @conversations.each do |conversation| %>
          <li class="">
          <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
              <% if conversation.sender_id == current_user.id %>
                <% recipient = User.find(conversation.recipient_id) %>
              <% else %>
                <% recipient = User.find(conversation.sender_id) %>
              <% end %>
                <%= link_to recipient.email, conversation_messages_path(conversation) %>
              <% end %>
          <% end %>
          </li>
          </div>
      </div>
  </div>

  <div class="all-users-list ui segment">
      <h3>All Users</h3>
      <hr>
      <div class="all-users-info ui list">
        <% @users.each do |user| %>
          <% if user.id != current_user.id %>
            <div class="item">
              <p class="user-name"><%= user.email %></p><%= link_to 'Message', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', class: "message-me-button btn btn-primary-success" %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= link_to "Back", :back %>
  </div>
</div>
