<h3>DASHBOARD</h3> 
<hr>
<br>
<div class="edit-profile btn btn-outline-success">
<%= link_to 'Edit Profile', edit_user_registration_path %>
</div>
<br>
<br>
<div class="dashboard-messages btn btn-outline-success">
<%= link_to 'Messages', conversations_path %>
</div>