<footer>
  <div class="foobar">
  <div class="how-it-works">
    <h5 >HOW IT WORKS</h5> 
    <ul>
      <li>
        <a href="/howitworks/hire">Hire</a>
      </li>
      <li>
        <a href="/howitworks/lend">Lend</a>
      </li>
      <li>
        <a href="/howitworks/fees">Fees</a>
      </li>
    </ul>
  </div>

  <div class="legal">
    <h5 >LEGAL</h5> 
    <ul>
      <li>
        <a href="/legal/terms">Terms</a>
      </li>
      <li>
        <a href="/legal/privacy">Privacy</a>
      </li>
      <li>
        <a href="/legal/cookiepolicy">Cookie Policy</a>
      </li>
    </ul>
    <div class="copyright"> 
      © 2018 Copyright: LocalHire
    </div>
  </div>
        
  <div class="contact-us">
    <h5>CONTACT US</h5>
    <form action="https://formspree.io/vrl37@hotmail.com" method="POST">
      <div>
        <input type="text" name="name" required="" placeholder="Your Name">
      </div>
      <div>
        <input type="email" name="_replyto" required="" placeholder="Your Email">
      </div>         
      <div>
        <textarea required="" name="textarea" placeholder="Write your message here..."></textarea>
      </div>
        <input type="submit" name="submit" value="Send us a message">
    </form>
  </div>
 </div>
</footer>