<!-- Footer -->
<footer class="page-footer font-small navbar-fixed-bottom">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="text-uppercase mt-3 mb-4">How It Works</h5>

          <ul class="list-unstyled">
            <li>
              <a href="items/hire">Hire</a>
            </li>
            <li>
              <a href="#!">Lend</a>
            </li>
            <li>
              <a href="#!">Fees</a>
            </li>
          </ul>

 

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="text-uppercase mt-3 mb-4">Legal</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Terms</a>
            </li>
            <li>
              <a href="#!">Privacy</a>
            </li>
            <li>
              <a href="#!">Cookie Policy</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">
 
        </div>
        <!-- Grid column -->

    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="navbar-copyright text-center py-3">© 2018 Copyright: LocalHire
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->