<h2>Create a new Item to lend</h2>

<%= render 'form', item: @item %>

 <%# <%= render 'availability', item: @item %>  

<!--<%= render 'location', item: @item %> -->

<%= link_to 'Back', items_path %>
