.navbar-right li{
    float: left;
}

.n-link a {
     display: inline;
    //  color: red;
}

.navbar-lh {
    color: white;
    font-size: 25px;
    margin-left: 25px;
}
.navbar-lh a:hover {
    text-decoration: none
}

.nav-text {
    color: white;
}
.nav-text a:hover {
    text-decoration: none;
}

.nav-link {
    color: white;
}

