@import "bootstrap"; 
@import "searches";
@import "items";
@import "_footer";
@import "_form";

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    grid-template-columns: 100vw;
    grid-template-areas:
    "nav-area"
	"yield-area"
    "footer-area" ;
}
.nav {
    grid-area: nav-area;
    height: 56px + 20px;
}
.yield {
    grid-area: yield-area;
    background: white;
}
.footer {
    grid-area: footer-area;
    margin-top: 20px; 
}
