@import "bootstrap"; 
@import "searches";
@import "items";
@import "_footer";
@import "_form";
@import "messages";
@import "_navbar";
@import "users";
@import "conversations";

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    grid-template-columns: 100vw;
    grid-template-areas:
    "nav-area"
	"yield-area"
    "footer-area" ;
    font-family: "Montserrat", sans-serif;
    align-items: center;
}
.navbar {
    grid-area: nav-area;
    background-color: #EDEDED;
    height: 56px + 20px;
}

.yield {
    grid-area: yield-area;
    background: white;
    margin-top: 96px;
    
}
.footer {
    grid-area: footer-area;
    margin-top: 50px; 
}

.search-form {
    color: gray;
}
.search-form h2 {
    color: #9ABC3D;
    font-size: 20px;
    padding: 18px;
    font-family: 'Permanent Marker', cursive;
}

.nav-link {
    color: #79A465;
}
.navbar-brand {
    color: #79A465;
    font-family: 'Permanent Marker', cursive;
    font-size: 38px;
}

