// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.all-items-page {
    margin-top: 125px;
    margin-left: 10px;
}

.card-margin {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 20px;
}

.img-size {
    width: 245px;
    height: 300px;
}

.index-links {
    margin: 0;
    margin-bottom: 10px;
    margin-right: 10px;
}

.show-page {
    margin-top: 125px;
    margin-left: 10px;
    margin-bottom: 20px;
}