


.edit-profile a {
    font-size: 1.5em;
    color: #9ABC3D;
}
.edit-profile a:hover {
    text-decoration: none;
}

.dashboard-messages a{
    font-size: 1.5em;
    color: #9ABC3D;
}
.dashboard-messages a:hover {
    font-size: 1.5em;
    color: #9ABC3D;
    text-decoration: none;
}