

<div class="container">
    <h3 style="margin-left:150px">Congratulations, you successfully booked <strong><%= @item.name %> </strong> for <strong>$<%= @total %></strong>!</h3>

    <!-- <h3> to borrow <%= @item.images.first%> -->

    <!--
    <p>We have added this booking to your personal calendar to help you manage your bookings<p>
    <p>Go to your personal calendar now (link)</p>
    -->

    <!-- create an if statement - if money supports charity then show >
    <p>The item you just booked helps support (charity name and link to their page)</p>

    <p>This organisation is also supported by the following people on Localhire</p>

    <span> Show avatars of all lenders in surrounding areas that support the same organisation</span>

    -->
    <!--
    <div>
        <p>Would you like to:<p><br>
        <p> - head back to your profile to manage your bookings<p>
        <p> - Send the lender a message<p>
        <p> - keep browsing (users suburb) for more items to borrow</p>
    </div>
    -->
</div>
